.Movieg_Item{

}

.Movie_Item{
    text-decoration: none;
    color: rgb(161, 32, 32);
    font-family: inherit;
    font-size: 26px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal
}

.Movie_Item:hover{
    color: black;
}