.Tranding_Text{
    color: rgb(29, 29, 29);
    font-family: inherit;
    font-size: 36px;
    line-height: 1.6;
    font-style: normal;
    font-weight:600;
    margin-bottom: 20px;
    text-align: center
    
}

.List_Tranding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
}

.Container_List{
    margin-top: 20px;
    margin-left: 20px;
    max-width: 600px;
    height: auto;
    margin-bottom: 50px;
}